@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-lm: 60rem;
}
@font-face {
  font-family: Mojangles;
  src: url("/Mojangles.woff") format("woff");
}

.ws-10 {
  word-spacing: 10px;
}

.modal__content {
  max-width: none !important;
  width: 95vw !important;
  height: 90vh !important;  
}

.close__button {
  @apply dark:!text-emerald-500 !text-blue-900
}

.border-bottom {
  @apply border border-x-0 border-t-0 border-b-blue-900 dark:border-b-emerald-500 lm:border-b-0 lm:border-r lm:border-r-blue-900 lm:dark:border-r-emerald-500 xl:border-r-0 xl:border-b
}